.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.flex-content {
    box-sizing: border-box;
}

.flex-2 {
    width: 49.5%;
}

.codeblock-label {
    margin-bottom: 0;
    padding: 3px 15px;
    background-color: var(--md-primary-fg-color);
    border-radius: 20px 0 0 0;
    color: var(--md-primary-bg-color);
    font-size: 0.75rem;
}

pre[id^=__code] {
    margin-top: 0;
}

.codeblock-label a, .codeblock-label a:hover {
    color: var(--md-primary-bg-color);
    transition: 0.25s ease all;
}

.codeblock-label a:hover {
    font-weight: bold;
}

.highlighttable {
    margin-top: 0 !important;
    margin-bottom: 2em !important;
}

pre.pseudocode { 
    /* Try to mimic the code styling but allowing to use html for example for bolds */
    background-color: var(--md-code-bg-color);
    padding: .7720588235em 1.1764705882em;
    margin-top: 0;
    font-family: var(--md-code-font-family,_),SFMono-Regular,Consolas,Menlo,monospace;
    font-feature-settings: kern;
    font-size: .85em;
    overflow: auto;
}

.section-quote {
    background-color: var(--md-code-bg-color);
    padding: 5px 15px;
    border-left: 4px solid var(--md-primary-fg-color--light);
    font-style: italic;
}

@media screen and (max-width: 44.9375em) {
    .codeblock-label {
        margin: 0 -.8rem;
        border-radius: 0;
    }
    .flex-2 {
        width: 100%;
    }
    pre>code {
        margin: 0 -.8rem !important;
    }
}
